<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    
      
  </system.web>
  <appSettings>
    <add key="MyConnString" value="Data Source=192.168.0.110;Initial Catalog=TTSHTemp;User ID=sa;Password=ROOT#123"/>
      
  </appSettings>
  
    <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%DNX_PATH%" arguments="%DNX_ARGS%" stdoutLogEnabled="false" startupTimeLimit="3600"/>
  </system.webServer>
</configuration>
